.botao {
    color: #090086;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font: 120% cursive;
}

.botao:hover {
    border: transparent;
    background-color: transparent;
    font-weight: bold;
}
