.container-box1 {
    margin: 0.3rem;
    width: 790px;
}

.container-textbox1 {
    display: grid;
    width: 790px;
    border-radius: 10px;
    border: solid 0.5px #010175;
}

.container-box2 {
    margin: 0.3rem;
    width: 790px;
}

.container-textbox2 {
    display: grid;
    width: 790px;
    height: 80px;
    border-radius: 10px;
    border: solid 0.5px #010175;
}

.comporter-mapa {
    display: flex;
    justify-content: center;

}

#mapa {
    width: 180px;
    height: 180px;

}

.container-icon {
    justify-content: center;
    display: flex;
    
}
